{
    "presets": ["es2015", "stage-3"],
    "plugins": [
        "react-hot-loader/babel",
        ["transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }]
    ]
    
}
