@import './vars.scss';

*{
	box-sizing: border-box;
	-webkit-transition: 0.2s;
    transition: 0.2s;
}
html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'HYSUPM';
	background-color: $back-color;
}
a{
	color: black;
    cursor: pointer;
}

#root{
	height: 100%;
	width: 100%;
}
#toast-container{
	top: 4% !important;
}
.App{
	background-color: #d3d3d3;
	-webkit-transition: 0.4s;
    transition: 0.4s;
    .App-Contents{
		height: calc(100% - 120px);
		width: 100%;
    }
    .Main{
    	height: calc(100% - 80px);
		width: 100%;
		margin: 0;
    }
	h1{
		font-family: 'HYSUPM';
		font-size: 45px;
		margin: 0;
		padding: 40px;
		height: 130px;
		text-align: center;

	}
}

/* Authentication */
.auth {
	margin-top: 50px;
    text-align: center;
	.card {
	    width: 80%;
	    margin: 0 auto;
	}
	.header {
	    font-size: 25px;
	    background-color: $point-color;
	}
	.tabs{
		height: 80px;
		.tab-buttons{
			display: inline-block;
			width: 50%;
			padding-top: 20px;
			cursor: pointer;
			height: 60px;
			font-size: 20px;
			background-color: #d3d3d3;
			&.active{
				background-color: white;
			}
		}
	}
	.row {
	    margin-bottom: 0px;
	}
	.username {
	  margin-top: 0px;
	}
	.btn {
		// background-color: $button-color;
	    width: 90%;
	}
	.error-message{
		margin-top: -35px;
	}
	.footer {
	    border-top: 1px solid #E9E9E9;
	    padding-bottom: 21px;
	    a{
	    	color: $point-color;
	    }
	}
}
.Main-contents{
	height: 100%;
	width: 95%;
	margin-bottom: 0;
	.Main-buttons{
		height: 55%;
		.card{
			height: 100%;
			box-shadow: 0 0 20px #3f3f3f;
			.card-image{
				height:100%;
				cursor: pointer;
				img{
					height: 100%;
					width: 100%;
					-webkit-filter: grayscale(30%) brightness(25%);
				    filter: grayscale(30%) brightness(25%);
				}
				span{
					font-size: 28px;
					color: #f8c709;
					border: 6px solid #f8c709;
					width: 50%;
					left: 25%;
					bottom: 40px;
					text-align: center;
				}
				&:hover{
					img{
						-webkit-filter: grayscale(0%) brightness(55%);
					    filter: grayscale(0%) brightness(55%);
					}
				}
			}
		}
	}
	.Main-footer{
		height: calc(45% - 140px);
		.Register-button{
			cursor: pointer;
			text-align: center;
			display: block;
			margin: auto;
			padding-top: 50px;
			width: 140px;
			font-size: 32px;
			border-bottom: 3.5px solid black;
			&:hover{
				color: $point-color;
				border-bottom: 3.5px solid $point-color;
			}
		}
	}
}

.Main-loggedin{
	margin: 0;
	height: 100%;
	.Side-menu{
		display: inline-block;
		vertical-align: top;
		height: 100%;
		width: 80px;
		padding: 0;
		background-color: #171D0B;

		ul{
			width: 100%;
			margin: 0;
			li{
				margin: 0;
				height: 80px;
				font-size: 30px;
				a{
					margin: 0;
					color: $back-color;
					width: 100%;
					text-align: center;
					// border-bottom: 2px solid $back-color;
					color: #939393;
					span{
						padding-top: 25px;
						height: 80px;
						width: 80px;

					}
					&:hover{
						background-color: #080A04;
					}
					&.active{
						background-color: #080A04;
						border-left: 5px solid $point-color;
						color: white;
					}
				}
			}
		}
	}
	.Boards-wrapper{
		display: inline-block;
		vertical-align: top;
		height: 100%;
		width: calc(100% - 80px);
		overflow-y: auto;
		.Boards{
			height: calc(100% - 60px);
			// margin: 20px 30px 0;
			.Board-header{
				// *{
				// 	height: 65px;
				// }
				span{
					font-size: 35px;
					padding: 15px;
					cursor: pointer;
					&:hover{
						color: $point-color;
					}
					&.inactive{
						color: $deem-color;
						cursor: default;
						&:hover{
							color: $deem-color;
						}
					}
				}
			}
			.Board-contents{
				width: 100%;
				height: 100%;
				.col.m12{
					height: calc(100% - 30px);
					padding: 0 25px;
					&.boardTable{
						&>div{
							height: calc(100% - 60px) !important;
							overflow: auto;
							margin-top: 20px !important;
						}
					}
				}
			}
		}
	}
}
.card{
	.card-action a:not(.btn):not(.btn-large):not(.btn-floating){
		color: $deem-color;
		&:hover{
			color: $point-color !important;
		}
	}
	.color-bar{
		width: 100%;
		height: 10px;
	}
}
.card-content{
	.card-input{
		vertical-align: middle;
		&:after{
			border-color: black !important;
		}
	}
}
.modal{
	width: 80%;
	height: 90%;
}

.classday{
	label{
		margin-right: 30px;
	}
}
.modal-header{
	margin-bottom: 0;
}
.modal-content{
	padding-bottom: 0 !important;
	.Edit-students{
		height: calc(100% - 60px);
		margin: 0;
		.Students-list{
			height: 100%;
			margin: 0;
			&>.col.s6{
				height: calc(100%) !important;

				&>div{
					height: calc(100%) !important;
					&>div:nth-child(2){
						height: calc(100% - 182px) !important;
					}
				}
			}
			ul{
				height: 100%;
				padding: 0;
				&.collection{
					margin: -1px 0 0 0;
				}
				&.with-header{
					margin: 0;
					height: 85px;
				}

				.scroll{
					height: 100%;
					width: 100%;
					overflow-y: auto;
				}
				.collection-header{
					margin-bottom: 0;
				}
				.Student-obj{
					cursor: pointer;
					padding: 0 15px;
					p{
						margin: 5px 0 0 0;
						padding-top: 5px;
					}
					.col.s2{
						visibility: hidden;
					}
					&.selected{
						background-color: #d3d3d3;
						.col.s2{
							visibility: visible;
						}
					}
				}
			}
		}
		.Students-buttons{
			height: 50px;
			margin: 0;
		}
		a{
			text-align: center;
		}
	}
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	box-shadow: none ;
}

// overrides timepicker in table
td div hr, .studyTime hr{
	display: none;
}

//////////////////////draft-js////////////////////////
.public-DraftEditorPlaceholder-root {
    position: absolute;
    color: #cccccc;
}
